<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{SITENAME}} | {{APP_VERSION}}</title>
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/css/offcanvas-navbar.css" rel="stylesheet">
</head>
<body class="bg-body-tertiary">
    {% block body %}
    {% endblock %}
    <script src="/theme/js/bootstrap.bundle.min.js"></script>
    <script src="/theme/js/offcanvas-navbar.js"></script>
</body>
</html>