{% extends "theme/base.html" %}
{% block body %}
{% include "theme/menu.html" %}
<main class="container">
    <div class="p-4 mt-4 mb-4 text-bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{article.title|title}}</h1>
            <p class="col-md-8 fs-4">
                {{article.summary}}
            </p>
        </div>
    </div>
    <div class="container px-4 py-5" id="icon-grid">
        <div class="row">
            <div class="col-8">
                <h2 class="pb-2 border-bottom">Conteúdo</h2>
                <img src="" alt="">
                <div class="grid gap-4">
                    {{article.content}}
                </div>
                <img src="/images/{{article.slug}}.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col">
                <h2 class="pb-2 border-bottom">Links</h2>
                <div class="grid gap-4">
                    {% if article.link %}
                    <a href="{{article.link}}" target="_blank" class="btn btn-lg btn-outline-secondary mb-2">Site</a>
                    {% endif %}
                    {% if article.docker %}
                    <a href="{{article.docker}}" target="_blank"
                        class="btn btn-lg btn-outline-secondary mb-2">Docker</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}