{% extends "theme/base.html" %}
{% block body %}
{% include "theme/menu.html" %}
<main class="container">
    <div class="p-4 mt-4 mb-4 text-bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem Vindo!</h1>
            <p class="col-md-8 fs-4">
                Consulte aqui uma base de recursos uteis para desenvolvedores no geral. Temos links para as mais
                diferentes ferramentas organizados por categorias.
            </p>
        </div>
    </div>
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Categorias</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            {% for categoria, artigos in categories %}
            <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <div>
                    <a href="{{categoria.url}}">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{categoria|title}}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}