{% extends "theme/base.html" %}
{% block body %}
{% include "theme/menu.html" %}
<main class="container">
    <div class="p-4 mt-4 mb-4 text-bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem Vindo!</h1>
            <p class="col-md-8 fs-4">
                Consulte aqui uma base de recursos uteis para desenvolvedores no geral. Temos links para as mais
                diferentes ferramentas.
            </p>
            <p class="col-md-8 fs-4">
                Atualmente temos <strong>{{articles | count}}</strong> documentos indexando ferramentas, artigos, canais
                do youtube que
                auxilian os desenvolvedores.
            </p>
        </div>
    </div>
    <div class="container" id="icon-grid">
        <div class="row">
            <div class="col-12 col-md-8">
                {% for article in articles_page.object_list %}
                <article class="card mb-3">
                    <div class="row g-0">
                        {% if article.category != 'scripts'%}
                        <div class="col-md-4">
                            <img src="/images/{{article.slug}}.png" class="img-fluid rounded-start">
                        </div>
                        {% endif %}
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{article.title|title}}</h5>
                                <p class="card-text">{{article.summary}}</p>
                                <p class="card-text text-end">
                                    <a href="/{{article.url}}" class="btn btn-sm btn-outline-info">
                                        Leia Mais
                                        <i class="bi bi-chevron-compact-right"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <div class="text-end">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if articles_previous_page %}
                            <li class="page-item">
                                <a class="btn btn-sm btn-outline-success" href="/{{ articles_previous_page.url }}">
                                    <i class="bi bi-chevron-compact-left"></i>
                                    Voltar
                                </a>
                            </li>
                            {% endif %}
                            {% if articles_next_page %}
                            <li class="page-item">
                                <a class="btn btn-sm btn-outline-success" href="/{{ articles_next_page.url }}">
                                    Outras Ferramentas 
                                    <i class="bi bi-chevron-compact-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col">
                <h2>Categorias</h2>
                <div>
                    {% for categoria, artigos in categories %}
                    <a href="{{categoria.url}}" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover badge rounded-pill text-bg-secondary">{{categoria|title}}</a>
                    {% endfor %}
                </div>
                <hr>
                <h2>Tags</h2>
                <div>
                    {% for tag, artigos in tags %}
                    <a href="{{tag.url}}" class="link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover badge rounded-pill text-bg-secondary">{{tag|title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</main>
{% endblock %}