{% extends "theme/base.html" %}
{% block body %}
{% include "theme/menu.html" %}
<main class="container">
    <div class="p-4 mt-4 mb-4 text-bg-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem Vindo!</h1>
            <p class="col-md-8 fs-4">
                Consulte aqui uma base de recursos uteis para desenvolvedores no geral. Temos links para as mais
                diferentes ferramentas organizados por categorias.
            </p>
        </div>
    </div>
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Categorias</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            {% for categoria, artigos in categories %}
            <div class="col d-flex align-items-start">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <div>
                    <a href="{{categoria.url}}">
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{categoria|title}}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>


<div class="bd-example-snippet bd-code-snippet bd-file-ref">
    <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-bottom">
        <a class="font-monospace link-secondary link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover small"
            href="https://github.com/twbs/bootstrap/blob/v5.3.2/scss/_alert.scss">scss/_alert.scss</a>
        <div class="d-flex ms-auto">
            <button type="button" class="btn-clipboard mt-0 me-0" aria-label="Copy to clipboard"
                data-bs-original-title="Copy to clipboard">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#clipboard"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="highlight">
        <pre tabindex="0" class="chroma"><code class="language-scss" data-lang="scss"><span class="line"><span class="cl"><span class="c1">// Generate contextual modifier classes for colorizing the alert
</span></span></span><span class="line"><span class="cl"><span class="c1"></span><span class="k">@each</span> <span class="nv">$state</span> <span class="ow">in</span> <span class="nf">map-keys</span><span class="p">(</span><span class="nv">$theme-colors</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">  <span class="nc">.alert-</span><span class="si">#{</span><span class="nv">$state</span><span class="si">}</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="na">--#{$prefix}alert-color</span><span class="o">:</span> <span class="nf">var</span><span class="p">(</span><span class="o">--</span><span class="si">#{</span><span class="nv">$prefix</span><span class="si">}#{</span><span class="nv">$state</span><span class="si">}</span><span class="o">-</span><span class="ni">text</span><span class="o">-</span><span class="n">emphasis</span><span class="p">);</span>
</span></span><span class="line"><span class="cl">    <span class="na">--#{$prefix}alert-bg</span><span class="o">:</span> <span class="nf">var</span><span class="p">(</span><span class="o">--</span><span class="si">#{</span><span class="nv">$prefix</span><span class="si">}#{</span><span class="nv">$state</span><span class="si">}</span><span class="o">-</span><span class="n">bg-subtle</span><span class="p">);</span>
</span></span><span class="line"><span class="cl">    <span class="na">--#{$prefix}alert-border-color</span><span class="o">:</span> <span class="nf">var</span><span class="p">(</span><span class="o">--</span><span class="si">#{</span><span class="nv">$prefix</span><span class="si">}#{</span><span class="nv">$state</span><span class="si">}</span><span class="o">-</span><span class="n">border-subtle</span><span class="p">);</span>
</span></span><span class="line"><span class="cl">    <span class="na">--#{$prefix}alert-link-color</span><span class="o">:</span> <span class="nf">var</span><span class="p">(</span><span class="o">--</span><span class="si">#{</span><span class="nv">$prefix</span><span class="si">}#{</span><span class="nv">$state</span><span class="si">}</span><span class="o">-</span><span class="ni">text</span><span class="o">-</span><span class="n">emphasis</span><span class="p">);</span>
</span></span><span class="line"><span class="cl">  <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
    </div>
</div>
{% endblock %}