{% extends "theme/base.html" %}
{% block body %}
{% include "theme/menu.html" %}
<main class="container">
    <div class="row my-4">
        <div class="col-12">
            <div class="text-center">
                <h2 class="display-5 fw-bold text-body-emphasis">{{tag|title}}</h2>
            </div>
        </div>
    </div>
    {%if category=='scripts' %}
    <div class="row gx-4">
        {% for artigo in articles %}
        <div class="col-12 col-md-3 mb-4">
            <div class="card">
                <img src="/images/{{artigo.slug}}.png" class="card-img-top">
                <div class="card-body">
                    <a href="/{{artigo.url}}">
                        <h5 class="card-title pb-1 border-bottom">{{artigo.title|title}}</h5>
                    </a>
                    <p class="card-text">{{artigo.summary}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="/{{artigo.url}}">
                            Ler Completo
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row gx-4">
        {% for artigo in articles %}
        <div class="col-12 col-md-3 mb-4">
            <div class="card">
                <img src="/images/{{artigo.slug}}.png" class="card-img-top">
                <div class="card-body">
                    <a href="/{{artigo.url}}">
                        <h5 class="card-title pb-1 border-bottom">{{artigo.title|title}}</h5>
                    </a>
                    <p class="card-text">{{artigo.summary}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="/{{artigo.link}}">
                            Site
                        </a>
                    </li>
                    {% if artigo.docker %}
                    <li class="list-group-item">
                        <a href="/{{artigo.docker}}">
                            Docker
                        </a>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <a href="/{{artigo.url}}">
                            Ler Completo
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</main>
{% endblock %}