<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Code Tools</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lorem
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'lorem:ipsum' %}">Ipsum</a></li>
                        <li><a class="dropdown-item" href="{% url 'lorem:pixel-index' %}">Pixel</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Base de Conhecimento
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'knowledge:apis' %}">APIs Divertidas</a></li>
                        <li><a class="dropdown-item" href="{% url 'knowledge:open-source-tools' %}">Ferramentas Open Source</a></li>
                        <li><a class="dropdown-item" href="{% url 'knowledge:yt-channels' %}">Canais do YouTube</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="help" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ajuda
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="help">
                        <li><a class="dropdown-item" href="{% url 'help:contrib' %}">Contribuir</a></li>
                        <li><a class="dropdown-item" href="{% url 'help:about' %}">Sobre</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>