{% extends 'base.html' %} {% load static %} {% block body %}
<div class="px-4 py-5 my-5">
  <div class="container">
    <div class="list-group">
      <a
        href="https://www.youtube.com/c/Fireship"
        class="list-group-item list-group-item-action"
        target="_blank"
        aria-current="true"
      >
        <div class="d-flex flex-direction-row align-items-center">
          <img
            style="height: 100px; width: 100px; border-radius: 50%"
            src="https://yt3.ggpht.com/ytc/AKedOLTcIl6kKt3lEPJEySUf_hpHiKDKiFeo9eWPReLysQ=s176-c-k-c0x00ffffff-no-rj-mo"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Fireship</h5>
            </div>
            <p class="mb-1">Desenvolvimento</p>
            <small
              >Apresenta conceitos rápidos e pequenos tutoriais sobre as mais
              varidas tecnologias</small
            >
          </div>
        </div>
      </a>
      <a
        href="https://www.youtube.com/c/Fireship"
        class="list-group-item list-group-item-action"
        target="_blank"
        aria-current="true"
      >
        <div class="d-flex flex-direction-row align-items-center">
          <img
            style="height: 100px; width: 100px; border-radius: 50%"
            src="https://yt3.ggpht.com/ytc/AKedOLSt8q-3u78Uk5LjZtGN6liv-FIoSs6NuV7_XT1q-mQ=s176-c-k-c0x00ffffff-no-rj-mo"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Fabio Akita</h5>
            </div>
            <p class="mb-1">Desenvolvimento</p>
            <small
              >Apresenta videos sobre o mercado de trabalho e carreiras no ramo
              de tecnologia</small
            >
          </div>
        </div>
      </a>
      <a
        href="https://www.youtube.com/c/codigofontetv"
        class="list-group-item list-group-item-action"
        target="_blank"
        aria-current="true"
      >
        <div class="d-flex flex-direction-row align-items-center">
          <img
            style="height: 100px; width: 100px; border-radius: 50%"
            src="https://yt3.ggpht.com/ytc/AKedOLTxp_yA1EqeS8rPJDe4m5qExsd3-OKqmlB3M6Oq5A=s176-c-k-c0x00ffffff-no-rj-mo"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Código Fonte TV</h5>
            </div>
            <p class="mb-1">Desenvolvimento</p>
            <small
              >Videos curtos apresentando novas tecnologias, bem como videos
              mais elaborados abrangendo toda a área de tecnologia</small
            >
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
